<!DOCTYPE html>
<html lang="en">
    

<%- include('../../../partials/cpanel/individual/head'); %>

<body class="vertical-layout">    
    <!-- Start Containerbar -->
    <div id="containerbar">
        <!-- Start Leftbar -->
        <%- include('../../../partials/cpanel/individual/header'); %>

            <!-- Start Breadcrumbbar -->                    
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">Scheduale</h4>
                    </div>
                </div>          
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->    
            <div class="contentbar">   
                <!-- Start row -->
                <div class="row"> 
                    <!-- Start col -->
                    <div class="col-lg-4 col-xl-3">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col-8">
                                        <p class="font-15">Request accepted, Mr. X is on it's way.</p>
                                    </div>
                                    <div class="col-4 text-right">
                                        <span class="iconbar iconbar-md bg-primary text-white rounded"><i class="ri-notification-3-line"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col-8">
                                        <p class="font-15">Upcoming Pickups</p>
                                    </div>
                                    <div class="col-4 text-right">
                                        <span class="iconbar iconbar-md bg-primary text-white rounded"><i class="ri-notification-3-line"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col-8">
                                        <p class="font-15">Payment History</p>
                                    </div>
                                    <div class="col-4 text-right">
                                        <span class="iconbar iconbar-md bg-primary text-white rounded"><i class="ri-notification-3-line"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                       
                    <!-- End col -->                    
                </div>
                <!-- End row -->
            </div> 
            <!-- Start Breadcrumbbar -->                    
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">current status</h4>
                    </div>
                </div>          
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->    
            <div class="contentbar">   
                <!-- Start row -->
                <div class="row"> 
                    <!-- Start col -->
                    <div class="col-lg-4 col-xl-3">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col-8">
                                        <p class="font-15">Request accepted, Mr. X is on it's way.</p>
                                    </div>
                                    <div class="col-4 text-right">
                                        <span class="iconbar iconbar-md bg-primary text-white rounded"><i class="ri-notification-3-line"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col-8">
                                        <p class="font-15">Mr. X is about to reach at your location.</p>
                                    </div>
                                    <div class="col-4 text-right">
                                        <span class="iconbar iconbar-md bg-primary text-white rounded"><i class="ri-notification-3-line"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col-8">
                                        <p class="font-15">Keep your scrap ready Mr. X is at your doorstep.</p>
                                    </div>
                                    <div class="col-4 text-right">
                                        <span class="iconbar iconbar-md bg-primary text-white rounded"><i class="ri-notification-3-line"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col-8">
                                        <p class="font-15">Scrap collected
                                        </p>
                                    </div>
                                    <div class="col-4 text-right">
                                        <span class="iconbar iconbar-md bg-primary text-white rounded"><i class="ri-notification-3-line"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col-8">
                                        <p class="font-15">Payment credited</p>
                                    </div>
                                    <div class="col-4 text-right">
                                        <span class="iconbar iconbar-md bg-primary text-white rounded"><i class="ri-notification-3-line"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                       
                    <!-- End col -->                    
                </div>
                <!-- End row -->
            </div> 
     </div>
                   
                   
            <!-- End Contentbar -->
            <%- include('../../../partials/cpanel/individual/footer'); %>

</body>

</html>