<!DOCTYPE html>
<html lang="en">
    

<%- include('../../../partials/cpanel/seller/head'); %>

<body class="vertical-layout">    
    <!-- Start Containerbar -->
    <div id="containerbar">
        <!-- Start Leftbar -->
        <%- include('../../../partials/cpanel/seller/header'); %>

            <!-- Start Breadcrumbbar -->                    
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">Seller Dashboard</h4>
                    </div>
                </div>          
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->    
            <div class="contentbar">   
                <!-- Start row -->
                <div class="row"> 
                    <!-- Start col -->
                    <div class="col-lg-4 col-xl-3">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col-8">
                                        <p class="font-15">Completed Orders</p>
                                        <h4 class="card-title mb-0">150</h4>
                                    </div>
                                    <div class="col-4 text-right">
                                        <span class="iconbar iconbar-md bg-primary text-white rounded"><i class="dripicons-to-do"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col-8">
                                        <p class="font-15">Shipping Orders</p>
                                        <h4 class="card-title mb-0">09</h4>
                                    </div>
                                    <div class="col-4 text-right">
                                        <span class="iconbar iconbar-md bg-primary text-white rounded"><i class="dripicons-to-do"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col-8">
                                        <p class="font-15">Total Revenue</p>
                                        <h4 class="card-title mb-0">&#8377; 3000</h4>
                                    </div>
                                    <div class="col-4 text-right">
                                        <span class="iconbar iconbar-md bg-primary text-white rounded"><i class="dripicons-to-do"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                       
                    <!-- End col -->                    
                </div>
                <!-- End row -->
            </div> 
     </div>
                   
                   
            <!-- End Contentbar -->
            <%- include('../../../partials/cpanel/seller/footer'); %>

</body>

</html>