<!doctype html>
<html class="no-js" lang="zxx">
    
<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

<!-- Body main wrapper start -->
<div class="body-wrapper">
    

<header>
  <%- include('../partials/header'); %>
</header>



    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-overlay-theme-black-60 bg-image" style="margin-bottom: 0%; " data-bg="img/bg/9.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between">
                        <div class="section-title-area ltn__section-title-2">
                            <h6 class="section-subtitle ltn__secondary-color">//  Welcome to EcoFurnish</h6>
                            <h1 class="section-title white-color">What We Do</h1>
                        </div>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="/index">Home</a></li>
                                <li>Service</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->
  
 


        <!-- BODY AREA START -->
        <div class="container">
            <section>
                <div class="row mt-30">
                    <h2>About Us</h2>
                    <div class="paragraph">
                        <p>
                            At EcoFurnish.com, we are dedicated to revolutionizing the waste management and disposal
                            system in Rajkot. With a firm commitment to sustainability and environmental preservation,
                            our mission is to tackle the pressing challenges of inadequate waste collection, improper
                            disposal, and limited recycling initiatives.
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <h2>Our Vision</h2>
                    <div class="paragraph">
                        <p>
                            We envision a future where our district thrives in a clean and sustainable environment, free
                            from the harmful effects of poor waste management. Our goal is to establish a robust and
                            efficient waste management system that not only reduces pollution and health risks but also
                            promotes resource efficiency and environmental sustainability.
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <h2>Our Approach</h2>
                    <div class="paragraph">
                        <p>
                            Through collaborative efforts with local communities, businesses, and government
                            authorities, we aim to implement comprehensive waste collection programs that ensure the
                            efficient and timely removal of all types of waste. We prioritize the implementation of
                            proper disposal methods, including waste segregation and the promotion of responsible waste
                            disposal practices among residents and businesses.

                        </p>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <h2>Recycling Initiatives</h2>
                    <div class="paragraph">
                        <p>
                            Recognizing the critical importance of recycling, we are actively promoting and supporting
                            initiatives that encourage the recycling of various materials. Our efforts include the
                            establishment of recycling centers, the facilitation of educational programs on recycling
                            best practices, and the promotion of eco-friendly products made from recycled materials.
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <h2>Community Engagement</h2>
                    <div class="paragraph">
                        <p>
                            We believe that community involvement is crucial for the success of our initiatives. As part
                            of our strategy, we conduct awareness campaigns, workshops, and outreach programs to educate
                            and engage community members in sustainable waste management practices. We actively
                            encourage participation and collaboration from all stakeholders to collectively work towards
                            a cleaner and healthier district.
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <h2>Our Impact</h2>
                    <div class="paragraph">
                        <p>
                            Through our dedicated efforts, we aim to significantly reduce pollution, mitigate health
                            risks associated with improper waste management, and foster a culture of environmental
                            responsibility within the district. By promoting recycling and sustainable waste management
                            practices, we strive to contribute to the conservation of natural resources and the
                            protection of our ecosystem for generations to come.
                        </p>
                    </div>
                </div>
            </section>

        </div>

    <!-- FOOTER AREA START -->
    <%- include('../partials/footer'); %>
    <!-- FOOTER AREA END -->

</body>


</html>

