<!doctype html>
<html class="no-js" lang="zxx">
    
<head>
    <%- include('../partials/head'); %>
</head>

<body>
<div class="body-wrapper">
    

<header>
  <%- include('../partials/header'); %>
</header>




    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-overlay-theme-black-60 bg-image" data-bg="img/bg/9.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between">
                        <div class="section-title-area ltn__section-title-2">
                            <h6 class="section-subtitle ltn__secondary-color">//  Welcome to our company</h6>
                            <h1 class="section-title white-color">Frequently asked questions</h1>
                        </div>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="/index">Home</a></li>
                                <li>FAQ</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <!-- FAQ AREA START (faq-2) (ID > accordion_2) -->
    <div class="ltn__faq-area mt-80 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__faq-inner ltn__faq-inner-2">
                        <div id="accordion_2">
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-1" aria-expanded="false">
                                    Q: How can I place an order on EcoFurnish?
                                </h6>
                                <div id="faq-item-2-1" class="collapse" data-parent="#accordion_2">
                                    <div class="card-body">
                                        <p>A: To place an order, simply browse our products, select the items you want to purchase, and click on the "Add to Cart" button. Once you have finished shopping, proceed to the checkout page, fill in your details, and make the payment to complete your purchase.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                            <div class="card">
                                <h6 class="ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-2" aria-expanded="true"> 
                                    Q: What payment methods do you accept?
                                </h6>
                                <div id="faq-item-2-2" class="collapse show" data-parent="#accordion_2">
                                    <div class="card-body">
                                        <p>A: We accept various payment methods, including credit/debit cards, net banking, and digital wallets. All transactions on our website are secure and encrypted to ensure your financial information is protected.</p>
                                    </div>
                                </div>
                            </div>                          
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-3" aria-expanded="false">
                                    Q: Is it safe to shop online with EcoFurnish?
                                </h6>
                                <div id="faq-item-2-3" class="collapse" data-parent="#accordion_2">
                                    <div class="card-body">
                                        <p>A: Yes, shopping with EcoFurnish is completely safe. We use industry-standard encryption protocols to protect your personal and financial information. Your privacy and security are our top priorities.

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-4" aria-expanded="false">
                                    R Q: Can I modify or cancel my order after placing it?
                                </h6>
                                <div id="faq-item-2-4" class="collapse" data-parent="#accordion_2">
                                    <div class="card-body">
                                        <p>A: Unfortunately, once an order is placed, it cannot be modified or canceled. Please double-check your items and shipping address before confirming your purchase.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-5" aria-expanded="false">
                                    Q: How can I track my order?
                                </h6>
                                <div id="faq-item-2-5" class="collapse" data-parent="#accordion_2">
                                    <div class="card-body">
                                        <p>A: After your order is confirmed and dispatched, you will receive a confirmation email with a tracking number and a link to track your package. You can use this information to monitor the status and estimated delivery date of your order.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-6" aria-expanded="false">
                                    Q: What should I do if my order arrives damaged or defective?
                                </h6>
                                <div id="faq-item-2-6" class="collapse" data-parent="#accordion_2">
                                    <div class="card-body">
                                        <p>A: We sincerely apologize for any inconvenience. Please contact our customer support team immediately with your order number and photos of the damaged or defective items. We will arrange for a replacement or refund as necessary.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-7" aria-expanded="false">
                                    Q: Do you offer international shipping?
                                </h6>
                                <div id="faq-item-2-7" class="collapse" data-parent="#accordion_2">
                                    <div class="card-body">
                                        <p>A: Currently, we only offer shipping within India. We do not provide international shipping services. We are constantly working to expand our shipping destinations, so please stay tuned for updates.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="need-support text-center mt-40">
                            <h2>Still need help? Reach out to support 24/7:</h2>
                            <h3><i class="fas fa-phone"></i> +91-xxxxxx-xxxxx</h3>
                            <div class="btn-wrapper mb-30">
                                <a href="/contact" class="theme-btn-1 btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FAQ AREA START -->




    <!-- FOOTER AREA START -->
    <%- include('../partials/footer'); %>
    <!-- FOOTER AREA END -->
  
</body>
</html>

