<!doctype html>
<html class="no-js" lang="zxx">
    
<head>
    <%- include('../partials/head'); %>
</head>

<body>

<div class="body-wrapper">
    

<header>
  <%- include('../partials/header'); %>
</header>

<!-- BREADCRUMB AREA START -->
<div class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-overlay-theme-black-60 bg-image" data-bg="img/bg/9.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between">
                    <div class="section-title-area ltn__section-title-2">
                        <h6 class="section-subtitle ltn__secondary-color">//  welcome to Eco-Furnish</h6>
                        <h1 class="section-title white-color">Privacy Policy</h1>
                    </div>
                    <div class="ltn__breadcrumb-list">
                        <ul>
                            <li><a href="/index">Home</a></li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB AREA END -->

        <!-- body contant start -->

        <div class="container">
            <section class="mt-80 mb-80">
                <div class="row">
                    <h2>Ecofurnish.in Privacy Notice</h2>
                    <div class="paragraph">
                        <p><b>Disclaimer:</b>In the event of any discrepancy or conflict, the English version will
                            prevail over the translation.
                            <hr style="height: 2px;">
                            We know that you care how information about you is used and shared, and we appreciate your
                            trust that we will do so carefully and sensibly. This Privacy Notice describes how Ecofurnish
                            Seller Services Private Limited and its affiliates including Ecofurnish.com, Inc. (collectively
                            "Ecofurnish") collect and process your personal information through Ecofurnish websites, devices,
                            products, services, online marketplace and applications that reference this Privacy Notice
                            (together "Ecofurnish Services"). <br>

                            By using Ecofurnish Services you agree to our use of your personal information (including
                            sensitive personal information) in accordance with this Privacy Notice, as may be amended
                            from time to time by us at our discretion. You also agree and consent to us collecting,
                            storing, processing, transferring, and sharing your personal information (including
                            sensitive personal information) with third parties or service providers for the purposes set
                            out in this Privacy Notice. <br>
                        <ul>
                            <li><a href="">What Personal Information About Customers Does Ecofurnish Collect?</a></li>
                            <li><a href="">For What Purposes Does Ecofurnish Use Your Personal Information?</a></li>
                            <li><a href="">What About Cookies and Other Identifiers?</a></li>
                            <li><a href="">Does Ecofurnish Share Your Personal Information?</a></li>
                            <li><a href="">How Secure is Information About Me?</a></li>
                            <li><a href="">What About Advertising?</a></li>
                            <li><a href="">What Information can I Access?</a></li>
                            <li><a href="">What Choices Do I Have?</a></li>
                            <li><a href="">Conditions of Use, Notices, and Revisions</a></li>
                            <li><a href="">Related Practices and Information</a></li>
                        </ul>
                        </p>
                    </div>
                </div>
            
                <div class="row">
                    <h2>What Personal Information About Customers Does Ecofurnish Collect?</h2>
                    <div class="paragraph">
                        <p>We collect your personal information in order to provide and continually improve our products
                            and services. <br>

                            Here are the types of personal information we collect: <br>
                            <b>Information You Give Us:</b>
                            We receive and store any information you provide in relation to Ecofurnish Services. Click here
                            to see examples of what we collect. You can choose not to provide certain information, but
                            then you might not be able to take advantage of many of our Ecofurnish Services.
                            <b>Automatic Information:</b>
                            We automatically collect and store certain types of information about your use of Ecofurnish
                            Services, including information about your interaction with content and services available
                            through Ecofurnish Services. Like many websites, we use cookies and other unique identifiers,
                            and we obtain certain types of information when your web browser or device accesses Ecofurnish
                            Services and other content served by or on behalf of Ecofurnish on other websites. Click here to
                            see examples of what we collect.
                            <b>Information from Other Sources:</b>
                            We might receive information about you from other sources, such as updated delivery and
                            address information from our carriers, which we use to correct our records and deliver your
                            next purchase more easily. Click here to see additional examples of the information we
                            receive.
                        </p>
                    </div>
                </div>
            
                <div class="row">
                    <h2>For What Purposes Does Ecofurnish Use Your Personal Information?</h2>
                    <div class="paragraph">
                        <p>We use your personal information to operate, provide, develop, and improve the products and
                            services that we offer our customers. These purposes include: <br>
                        <ul>
                            <li><b>Purchase and delivery of products and services.</b>
                                We use your personal information to take and fulfill orders, deliver products and
                                services, process payments, and communicate with you about orders, products and
                                services, and promotional offers.</li>
                            <li>
                                <b>Provide, troubleshoot, and improve Ecofurnish Services.</b>
                                We use your personal information to provide functionality, analyze performance, fix
                                errors, and improve the usability and effectiveness of the Ecofurnish Services.
                            </li>
                            <li><b>Provide voice, image and camera services.</b>
                                When you use our voice, image and camera services, we use your voice input, images, videos, and other personal information to respond to your requests, provide the requested service to you, and improve our services. For more information about Alexa voice services, click here.
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
            
                <div class="row">
                    <h2>What About Cookies and Other Identifiers?</h2>
                    <div class="paragraph">
                        <p>
                            <ul>
                                <li>
                                    To enable our systems to recognize your browser or device and to provide and improve Ecofurnish Services, we use cookies and other identifiers. For more information about cookies and how we use them, please read our Cookies Notice.
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </section>
        </div>
        <!-- body contant ends -->


       <!-- FOOTER AREA START -->
    <%- include('../partials/footer'); %>
    <!-- FOOTER AREA END -->
     
</body>
</html>
