<!doctype html>
<html class="no-js" lang="zxx">
    
<head>
    <%- include('../partials/head'); %>
</head>

<body>
<div class="body-wrapper" style="padding: 30px;">
    
<body class="vertical-layout">    
   
    <!-- Start Containerbar -->
    <div id="containerbar">
        <!-- Start Leftbar -->
       

            <!-- Start Breadcrumbbar -->                    
            <div style="padding: 20px 20px 0px 20px;">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8" style="padding-left: 25px;">
                        <h4 class="page-title">Invoice Details</h4>
                    </div>
                </div>          
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->    
            <div style="padding: 15px 30px;">                
                <!-- End row -->
                <div class="row">
                    <!-- Start col -->
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="invoice">
                                    <div class="invoice-head">
                                        <div class="row">
                                            <div class="col-12 col-md-7 col-lg-7">
                                                <div class="invoice-logo">
                                                    <img src="/assets/images/logo.svg" style="width: 500px;" class="img-fluid" alt="invoice-logo">
                                                </div>
                                                <h4>Eco-Furnish Waste Services.</h4>
                                                <p>Waste is never a waste</p>
                                                <p class="mb-0">Kalawad Road, Rajkot</p>
                                            </div>
                                            <div class="col-12 col-md-5 col-lg-5">
                                                <div class="invoice-name">
                                                    <h5 class="text-uppercase mb-3">Invoice</h5>
                                                    <p class="mb-1">No : #INV001</p>
                                                    <p class="mb-0">04 Nov, 2023</p>
                                                    <h4 class="text-success mb-0 mt-3">&#8377; 364.62</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="invoice-billing">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                <div class="invoice-address">
                                                    <h6 class="mb-3">Bill to</h6>
                                                    <h6 class="text-muted">aaa aaa</h6>
                                                    <ul class="list-unstyled">
                                                        <li>RK, University, Rajkot, Guj, 360001</li>  
                                                        <li>+91-3333333333</li>  
                                                        <li>abc@gmail.com</li>  
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4 col-lg-6">
                                                <div class="invoice-address">
                                                    <div class="card">
                                                        <div class="card-body bg-secondary-rgba text-center">
                                                            <h6>Payment Method</h6>
                                                            <p><i class="ri-paypal-line text-primary font-40"></i></p>
                                                            <p>via PayPal</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                    <div class="invoice-summary">
                                        <div class="table-responsive ">
                                            <table class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">ID</th>                       
                                                        <th scope="col">Products</th>
                                                        <th scope="col">Quantity (QTY)</th>
                                                        <th scope="col">Price</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>DIY Jhumar</td>
                                                        <td>1</td>
                                                        <td>&#8377; 75.00</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2</th>
                                                        <td>Poly Toys</td>
                                                        <td>1</td>
                                                        <td>&#8377; 85.00</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>Recycled Pot</td>
                                                        <td>1</td>
                                                        <td>&#8377; 149.00</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="invoice-summary-total">
                                        <div class="row">
                                            <div class="col-md-12 order-2 order-lg-1 col-lg-5 col-xl-6">
                                                <div class="order-note">
                                                    <!-- <p class="mb-3"><span class="badge badge-info-inverse font-14">This is Free Shipping Order</span></p> -->
                                                    <h6>Special Note for this order:</h6>
                                                    <p>Please, Pack with product air bag and handle with care.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-12 order-1 order-lg-2 col-lg-7 col-xl-6">
                                                <div class="order-total table-responsive ">
                                                    <table class="table table-borderless text-right">
                                                        <tbody>
                                                            <tr>
                                                                <td>Sub Total :</td>
                                                                <td>&#8377;309.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Shipping Charges :</td>
                                                                <td>&#8377; 20.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Tax (18%) :</td>
                                                                <td>&#8377; 55.62</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="f-w-7 font-18"><h5>Amount Payable :</h5></td>
                                                                <td class="f-w-7 font-18"><h5>&#8377;364.62</h5></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="invoice-meta">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-4 col-lg-4">
                                                <div class="invoice-meta-box">
                                                    <h6 class="mb-3">Terms & Conditions</h6>
                                                    <ul class="pl-3">
                                                        <li>Goods once sold will not be taken back.</li>  
                                                        <li>We are responsible for Courier Damage.</li>  
                                                        <li>Subjects to NY Jurisdiction.</li>  
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-4 col-lg-4">
                                                <div class="invoice-meta-box">
                                                    <h6 class="mb-3">Contact Us</h6>
                                                    <ul class="list-unstyled">
                                                        <li><i class="ri-earth-line mr-2"></i>www.ecofurnish.com</li>  
                                                        <li><i class="ri-mail-line mr-2"></i>eco.furnish.ssip@gmail.com</li>  
                                                        <li><i class="ri-phone-line mr-2"></i>+91-xxxxxxxxxx</li>  
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <div class="invoice-meta-box text-right">
                                                    <h6 class="mb-0">Authorized Signatory</h6>
                                                    <!-- <img src="/assets/images/general/signature.svg" class="img-fluid my-3" alt="signature"> -->
                                                    <p class="mb-0" style="font: 36px cursive;">EcoFurnish</p>
                                                    <p class="mb-0">EcoFurnish</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="invoice-footer">
                                        <div class="row align-items-center">
                                            <div class="col-md-6">
                                                <p class="mb-0">Thank you for your Purchase.</p>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="invoice-footer-btn d-print-none">
                                                    <a href="javascript:window.print()" class="btn btn-primary py-1 font-16"><i class="fa fa-download" style="margin-right: 10px;"></i>Download</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
                <!-- End row -->
            </div>
            <!-- End Contentbar -->


</body>

</html>