<!DOCTYPE html>
<html lang="en">

<%- include('../../../partials/cpanel/industrial/head'); %>

<body class="vertical-layout">    
    <!-- Start Containerbar -->
    <div id="containerbar">
        <!-- Start Leftbar -->
        <%- include('../../../partials/cpanel/industrial/header'); %>

            <!-- Start Breadcrumbbar -->                    
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">Change Password</h4>
                    </div>
                </div>          
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->    
            <div class="contentbar">   
                <!-- Start row -->
                <div class="row"> 
                    <!-- Start col -->
                    <div class="col-md-6 col-lg-8">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <form>
                                    <div class="row"> 
                                        <div class="col-md-12">
                                            <label>Current Password</label>
                                            <div class="form-group">
                                                <input type="password" class="form-control" name="crr_pass" id="crr_pass" placeholder="Current Password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>New Password</label>
                                            <div class="form-group">
                                                <input type="password" class="form-control" name="new_pass" id="new_pass" placeholder="New Password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Confirm Password</label>
                                            <div class="form-group">
                                                <input type="password" class="form-control" name="conf_pass" id="conf_pass" placeholder="Re-Enter Password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary">Update Password</button>
                                        </div>
                                    </div>
                                </form>
                    <!-- End col -->                    
                </div>
                <!-- End row -->
            </div> 
     </div>
                   
                   
            <!-- End Contentbar -->
            <%- include('../../../partials/cpanel/industrial/footer'); %>
</body>

</html>