<!DOCTYPE html>
<html lang="en">

<%- include('../../../partials/cpanel/domestic/head'); %>

<body class="vertical-layout">    
   
    <!-- Start Containerbar -->
    <div id="containerbar">
        <!-- Start Leftbar -->
        <%- include('../../../partials/cpanel/domestic/header'); %>
           
            <!-- Start Breadcrumbbar -->                    
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">Notifications</h4>
                    </div>
                </div>          
            </div>
            <!-- End Breadcrumbbar -->
            
            <!-- start history -->    
            <div class="contentbar">
                <!-- Start row -->
                <div class="row">
                                       
                    <div class="col-lg-12">
                        <div class="card m-b-30">
                            <div class="card-header pb-0">
                                <!-- <h5 class="card-title">Title</h5> -->
                            </div>
                            <div class="card-body">

                                <div class="ecom-notification-box">
                                    <ul class="list-unstyled">
                                        <li class="media">
                                            <span class="mr-3 action-icon badge badge-primary"><i class="ri-archive-line"></i></span>
                                            <div class="media-body">
                                                <h5 class="action-title">Your Reward has been Credited</h5>
                                                <p class="my-3">Your Rewardpoint has been Creadited, checkout your reward section  <a href="/cpanel/domestic/reward" class="btn-sm btn-primary float-right">Reward</a></p></p>
                                                <p>Yesterday, 05:25 PM<p>
                                            </div>
                                        </li>
                                        <hr>
                                        <li class="media">
                                            <span class="mr-3 action-icon badge badge-success"><i class="fa fa-eye"></i></span>
                                            <div class="media-body">
                                                <h5 class="action-title">Looking for nearby collector</h5>
                                                <p class="my-3">We are looking for nearby collector from your location.
                                            </p>
                                            </div>
                                        </li>
                                        <hr>
                                        <li class="media">
                                            <span class="mr-3 action-icon badge badge-primary"><i class="ri-truck-line"></i></span>
                                            <div class="media-body">
                                                <h5 class="action-title">Schedule Pickup</h5>
                                                <p class="my-3">Hii!! Mr. X is your collector for today's scheduled pickup. He will be there as per your selected time slot. keep your scrap ready for easy processing. Thank you.
                                            </p>
                                            </div>
                                        </li>
                                        <hr>
                                        <li class="media">
                                            <span class="mr-3 action-icon badge badge-success"><i class="ri-archive-line"></i></span>
                                            <div class="media-body">
                                                <h5 class="action-title">Collected your scrap</h5>
                                                <p class="my-3">We have collected your scarp, we applaud  you for your contribution towards healthy and clean environment.
                                            </p>
                                            </div>
                                        </li>
                                        <hr>
                                        <li class="media">
                                            <span class="mr-3 action-icon badge badge-primary"><i class="ri-wallet-line"></i></span>
                                            <div class="media-body">
                                                <h5 class="action-title">Creadited payment</h5>
                                                <p class="my-3">we have credited payment amount to your respective account, kindly check Payment history section for receipt/invoice. In case of any problem feel free to contact us.
                                            </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                                
                                    

                </div> <!-- End row -->
            </div>
            <!-- history End -->
                </div>
                <!-- End row -->
            </div>
            <!-- End Contentbar -->
            <%- include('../../../partials/cpanel/domestic/footer'); %>

    
</body>

</html>