<!DOCTYPE html>
<html lang="en">

<%- include('../../../partials/cpanel/domestic/head'); %>

    <body class="vertical-layout">

        <!-- Start Containerbar -->
        <div id="containerbar">
            <!-- Start Leftbar -->
            <%- include('../../../partials/cpanel/domestic/header'); %>

                <!-- Start Breadcrumbbar -->
                <div class="breadcrumbbar">
                    <div class="row align-items-center">
                        <div class="col-md-8 col-lg-8">
                            <h4 class="page-title">Your Reward</h4>
                        </div>
                    </div>
                </div>
                <!-- End Breadcrumbbar -->


                <div class="contentbar">
                    <!-- Start row -->
                    <div class="row">
                                           
                        <div class="col-lg-12">
                            <div class="card m-b-30">
                                <div class="card-header pb-0">
                                    <!-- <h5 class="card-title">Title</h5> -->
                                </div>
                                <div class="card-body">
    
                                    <div class="ecom-notification-box">
                                        <ul class="list-unstyled">
                                            <li class="media">
                                                <span class="mr-3 action-icon badge badge-primary"><i class="ri-gift-line"></i></span>
                                                <div class="media-body">
                                                    <h5 class="action-title">Reward 1</h5>
                                                    <p class="my-3">This reward is awesome and comes with some fantastic features.
                                                </p>
                                                </div>
                                            </li>
                                            <hr>
                                            <li class="media">
                                                <span class="mr-3 action-icon badge badge-primary"><i class="ri-gift-line"></i></span>
                                                <div class="media-body">
                                                    <h5 class="action-title">Reward 2</h5>
                                                    <p class="my-3">Earn this reward to enjoy exclusive benefits and privileges.
                                                </p>
                                                </div>
                                            </li>
                                            <hr>
                                            <li class="media">
                                                <span class="mr-3 action-icon badge badge-primary"><i class="ri-gift-line"></i></span>
                                                <div class="media-body">
                                                    <h5 class="action-title">Reward 3</h5>
                                                    <p class="my-3">This special reward is tailored just for you with exciting perks.
                                                </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                                    
                                        
    
                    </div> <!-- End row -->
                </div>

































                <!-- start history -->
                <div class="contentbar">
                    <!-- Start row -->
                    <div class="col">

                    </div> <!-- End row -->
                </div>
                <!-- history End -->
        </div>
        <!-- End row -->
        </div>
        <!-- End Contentbar -->
        <%- include('../../../partials/cpanel/domestic/footer'); %>


    </body>

</html>